html{
    background-color: white;
    font-family:'Montserrat', sans-serif;
}

footer, main,aside, header{
    padding: 1vw;
    margin: 1vw;
}


/* CSS PARA DISPOSITIVOS PEQUEÑOS*/
/* HEADER*/
#header{
    background-image: url("../images/cabecera.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-clip:border-box;
    display: flex;
    flex-direction: column;
}

#header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}
#header-logo{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
    order: 0;
    width: 55%;
}

.logo-head{
    height: 8vh;
}

#header-nav{
    order: 3;
    width: 100%;
}

#navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 2vh;
}

.nav-item{
    list-style-type: none;
    font-size: 2vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color:gray;
    margin: 0.8vw auto;
    background-color: rgba(211, 211, 211,0.93);
    box-shadow: 2px 4px 6px -0.5px;
    border-radius: 5px;
    width: 100%;
    padding: 0.7vw;
    text-align: center;
    
}

.nav-item a{
    text-decoration: none;
    color:gray;
}

.nav-item p {
    display: inline;
    height: 2.3vh;
    padding: auto 0;
}

.nav-logo{
    height: 2.3vh;
    padding-right: 0.3vw;
}

#header-social{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    order: 1;
    width: 10%;
    height: 8vh;
}


.img-social{
    height: 2vh;
    padding: 0.5vh;
}

#header-social a{
    padding: 0;
    text-decoration: none;
}

#header-txt{
    background-color:lightgray;
    display: flex;
    opacity: 0.3;
    justify-content: center;
    margin: 0;
}

#txt-cabecera{
    width: 100%;
    text-align: center;
    font-family: serif;
    color: crimson;
}

.quote{
    height: 2.5vh;
}
.reverse{
    transform: rotate(180deg);
}

/*FOOTER*/
#footer{
    background-color: lightgray;
}

#footer-content{
    background-color: gainsboro;
    min-height: 8vh;
}

/*MAIN*/
    #main{
        background-color:lightgray;
        display: flex;
        flex-direction: column;
    }

    #page-content{
        background-color:gainsboro;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: .75vh;
        margin-bottom: 1vh;
    }
    
    .section-item{
        margin-bottom: 1vw;
        background-position: center;
    }

    .section-item-full{
        margin-bottom: 1vw;
        background-position: center;
        margin: 0;
        padding: 0;
    }

    #cherry{
        background-image: url(../images/cherry.jpg);
    }

    #bamboo{
        background-image: url(../images/bamboo.png);
    }
    
    .fecha-img{
        color: gainsboro;
    }

    .section-img{
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        background-position: center;
        background-size: auto;
        min-height: 35vh;
    }
    
    .section-title{
        background-color: crimson;
        height: 6vh;
        font-weight: 600;
        color:gainsboro;
        font-size: 2.5vh;
        display: flex;
    }

    .section-texto{
        background-color: gainsboro;
        font-size: 1.8vh;
    }

    .section-link{
        margin-top: -1vh;
    }

    .section-link a{
        text-decoration: none;
        color: gray;
        font-weight: 500;
        font-size: 2vh;
    }

    #lateral-bar{
        background-color:gainsboro;
        margin: 0;
    }
    
    .lateral-content{
        background-color:gainsboro;
        margin:0;
        padding: 0;
        background-position: center;
        height: 100%;
        min-height: 20vh;
        background-clip: content-box;
    }

/*CSS PARA TABLETS*/
@media only screen and (min-width: 768px) {

    #header{
        background-size: 180%;
    }

    #navbar{
        flex-direction: row;
        justify-content: space-between;
    }

    footer, main, header{
        padding: 0.75vw;
        margin: 0.75vw;
    }
    
    #header-content{
        display: flex;
        flex-direction: row;
        align-items:center;
        height: 12vh;
        flex-wrap: nowrap;
    }
    #header-logo{
        width: 10%;
        align-self: baseline;
        justify-content: flex-start;
    }

    .logo-head{
        height: 9vh;
    }
    
    #header-nav{
        width: 75%;
    }
    
    #navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-item{
        background-color: transparent;
        box-shadow: none;
        font-size: min(1.5vw, 20pt);
    }

    #header-social{
        width: 10%;
        order: 3;
    }

    #main{
        display: flex;
        flex-direction: column;
        margin: 1.5vw 0.75vw;
    }
    
    #page-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .section-item{
        margin-bottom: 1vw;
        width: 50%;
    }

    .section-item-full{
        width: 100%;
    }
}

/*CSS PARA DESKTOP y ALTAS RESOLUCIONES*/
@media only screen and (min-width: 992px) {

    #header{
        background-size: 120%;
    }

    article, main, footer, aside, header{
        padding: 0.5vw;
        margin: 0.5vw;
    }

    #header-nav{
        max-width: 60%;
    }
    
    #main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    #page-content{
        width: 74%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 0;

    }
    
    .section-item{
        margin-bottom: 1vw;
        width: 43%;
    }
    
    #lateral-bar{
        width: 22.5%;
    }

}