html{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

article, section, div, footer, main, aside, header{
    padding: 2vw;
    margin: 2vw;
}


/* CSS PARA DISPOSITIVOS PEQUEÑOS*/
/* HEADER*/
#header{
    background-image: url("../images/cabecera.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-clip:border-box;
    display: flex;
    flex-direction: column;
}

#header-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#header-logo{
    display: flex;
    margin: 0;
    align-items: flex-start;
    justify-content: center;
}

.logo-head{
    height: 8vh;
}

#header-nav{
    margin: 0;
}


#navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.navitem{
    list-style-type: none;
    font-size: 1.7vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color:dimgrey;
    margin: auto;
}

.nav-logo{
    height: 2.3vh;
    padding-right: 0.5vw;
}

#header-social{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.img-social{
    height: 2.5vh;
    padding: 0.5vh;
}

#header-social a{
    padding: 0;
    text-decoration: none;
}

#header-txt{
    background-color:lightgray;
    display: flex;
    opacity: 0.6;
    justify-content: center;
    overflow: hidden;
}

#txt-cabecera{
    width: 100%;
    text-align: center;
    font-family: serif;
    color: crimson;
}

.quote{
    height: 2.5vh;
}
.reverse{
    transform: rotate(180deg);
}

/*FOOTER*/
#footer{
    background-color: black;
}

#footer-content{
    background-color: burlywood;
}

/*MAIN*/    
    #main{
        background-color: gold;
        display: flex;
        flex-direction: column;
        margin: 4vw 2vw;
    }

    #page-content{
        background-color:darkslategray;
        display: flex;
        flex-direction: column;
    }
    
    .page-item{
        background-color:lightsteelblue;    
        margin-bottom: 1vw;
    }

    .page-item-full{
        background-color:deepskyblue;
    }

    #lateral-bar{
        background-color:coral;
    }
    
    .lateral-content{
        background-color:sandybrown;
        margin-bottom: 2vw;
    }

/*CSS PARA TABLETS*/
@media only screen and (min-width: 768px) {

    #header{
        background-size: 180%;
    }

    #navbar{
        flex-direction: row;
        justify-content: space-between;
    }

    article, section, div, footer, main, aside, header{
        padding: 1.5vw;
        margin: 1.5vw;
    }
    
    #header-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        height: 12vh;
    }
    #header-logo{
        width: 10%;
        align-self: baseline;
    }

    .logo-head{
        height: 8vh;
    }
    
    #header-nav{
        width: 80%;
    }
    
    #navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #header-social{
        width: 10%;
        flex-direction: column;
    }

    #main{
        background-color: yellow;
        display: flex;
        flex-direction: column;
        margin: 3vw 1.5vw;
    }
    
    #page-content{
        background-color: blueviolet;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .page-item{
        background-color: cornflowerblue;    
        margin-bottom: 1vw;
        width: 42%;
    }

    .page-item-full{
        width: 100%;
    }

    #lateral-bar{
        background-color: crimson;
    }
    
    .lateral-content{
        background-color:gold;
    }

}

/*CSS PARA DESKTOP y ALTAS RESOLUCIONES*/
@media only screen and (min-width: 992px) {

    #header{
        background-size: 120%;
    }

    article, section, div, footer, main, aside, header{
        padding: 1vw;
        margin: 1vw;
    }
    
    #main{
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 2vw 1vw;
    }
    
    #page-content{
        background-color: blueviolet;
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .page-item{
        background-color: cornflowerblue;    
        margin-bottom: 1vw;
        width: 43%;
    }
    
    #lateral-bar{
        width: 23%;
    }

}