html{
    background-color: white;
    font-family:'Montserrat', sans-serif;
    color: darkslategray;
}

footer, main,aside, header{
    padding: 1vw;
    margin: 1vw;
}


/* CSS PARA DISPOSITIVOS PEQUEÑOS*/
/* HEADER*/
#header{
    background-image: url("../images/cabecera.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-clip:border-box;
    display: flex;
    flex-direction: column;
}

#header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 1vw;
}
#header-logo{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
    order: 0;
    width: 60%;
}

.logo-head{
    height: 8vh;
}

#header-nav{
    order: 3;
    width: 100%;
}

#navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 2vh;
}

.nav-item{
    list-style-type: none;
    font-size: min(2vh, 20pt);
    font-weight: 500;
    color:gray;
    margin: 0.8vw auto;
    background-color: rgba(211, 211, 211,0.93);
    box-shadow: 2px 2px 6px gray;
    border-radius: 5px;
    width: 100%;
    padding: 0.7vw;
    text-align: center;
}

.nav-item:hover{
    background-color: gainsboro;    
}

.nav-item a{
    text-decoration: none;
    color:gray;
}

.nav-item p {
    display: inline;
    height: 2.3vh;
    padding: auto 0;
}

.nav-logo{
    height: 2.3vh;
    padding-right: 0.3vw;
}

#header-social{
    margin: 0;
    display: flex;
    font-size: min(1.5vh, 15pt);
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    order: 1;
    width: 10%;
    height: 8vh;
}


.img-social{
    height: 2vh;
    padding: 0.5vh;
}


#header-social a{
    padding: 0;
    text-decoration: none;
}

#header-txt{
    background-color:lightgray;
    display: flex;
    opacity: 0.35;
    justify-content: center;
    margin: 0;
    box-shadow: 2px 2px 4px gray;
}

#txt-cabecera{
    width: 100%;
    text-align: center;
    font-family: serif;
    color: crimson;
}

.quote{
    height: 2.5vh;
}
.reverse{
    transform: rotate(180deg);
}

/*FOOTER*/
#footer{
    background-color: lightgray;
}

#footer-content{
    background-color: gainsboro;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 5vh;
    padding: 0 1vh;
    
}

#footer p{
    margin: 0 1vw;
}

/*MAIN*/
    #main{
        background-color:lightgray;
        display: flex;
        flex-direction: column;
    }

    #page-content{
        background-color:gainsboro;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: .75vh;
        margin-bottom: 1vh;
        
    }
    
    section{
        margin-bottom: 1vw;
    }

    #cherry{
        background-image: url(../images/cherry.jpg);
    }

    #sidebar{
        background-image: url(../images/orange.jpg);
    }
    
    .fecha-img{
        color: gainsboro;
        font-size: 2vh;
        font-weight: 600;
        margin-bottom: -.5vh;
    }

    .section-img{
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        background-position: center;
        background-size:cover;
        min-height: 35vh;
        padding: 0 1vh;
    }
    
    .section-title{
        background-color: crimson;
        height: 4vh;
        font-weight: 600;
        color:gainsboro;
        font-size: 3vh;
        display: flex;
        padding: 1vh;
    }

    .title{
        position: relative;
        top:-0.8vh;
    }

    .section-texto{
        color: gray;
        font-size: 1.8vh;
        padding: 0 1vh;
    }

    .section-link{
        margin: 0;
    }

    .section-link a{
        text-decoration: none;
        color: gray;
        font-weight: 500;
        font-size: 2vh;
    }

    .section-link :hover{
        color: crimson;
        font-weight: 700;
        text-shadow: 3px 3px 6px gray;
    }

    #lateral-bar{
        background-color:gainsboro;
        margin: 0;
        
    }
    
    .lateral-content{
        background-color:gainsboro;
        margin:0;
        padding: 0;
        height: 100%;
        min-height: 20vh;
        background-position: center;
        background-clip: content-box;
        background-size: cover;
        background-position-y: 0;
    }

/*CSS PARA TABLETS*/
@media only screen and (min-width: 768px) {

    #header{
        background-size: 180%;
    }

    footer, main,aside, header{
        padding: 0.75vw;
        margin: 0.75vw;
    }
    
    #header-content{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items:center;
        height: 12vh;
        flex-wrap: nowrap;
    }
    #header-logo{
        width: 10%;
        align-self: baseline;
        justify-content: flex-start;
    }

    .logo-head{
        height: 9vh;
    }
    
    #navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-item{
        background-color: transparent;
        box-shadow: none;
        font-size: min(3vh, 15px);
    }

    .nav-item:hover{
        background:transparent;
    }

    #header-social{
        width: 10%;
        order: 3;
        align-content: flex-end;
        margin-left: auto;
    }

    #main{
        display: flex;
        flex-direction: column;
    }
    
    #page-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .section-item{
        margin-bottom: 1vw;
        width: 50%;
    }

    .section-item-full{
        width: 100%;
    }
}

/*CSS PARA DESKTOP y ALTAS RESOLUCIONES*/
@media only screen and (min-width: 992px) {

    #header{
        background-size: 120%;
    }

    footer, main,aside, header{
        padding: 0.5vw;
        margin: 0.5vw;
    }

    #header-nav{
        max-width: min(60%, 800px);
    }

    #header-logo{
        max-width: 8%;
    }
    
    #main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    #page-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-grow: 1;
        margin-right: 0.5vw;
        margin-bottom: 0;

    }
    
    .section-item{
        margin-bottom: 1vw;
        width: 50%;
    }

    .section-item-full{
        width: 100%;
    }
    
    #lateral-bar{
        width: 35%;
    }

}